@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.codepen.io/16327/PPMori-Regular.woff) format("woff");
}

.body {
  font-family: Mori;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: #0e100f;
}

.main-tool-bar {
  height: 80px;
  background: #fffce1;
  color: #0e100f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  &--scrolled {
    height: 40px;
  }
}

.scrollable-area {
  height: 200vh;
}
